<a href="https://colab.research.google.com/github/Gentrit851/Python-Data-Analysis-and-Visualization-Course-Astronomical-Data/blob/develop/Module_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics for Astronomy

In [1]:
# Prints Hello World
print("hello world")

hello world

# 1.Comments

In [ ]:
"""
This is the 1st line of comment
This is the 2nd line of comment
"""

# f-strings

In [ ]:
# Understanding the power of f-strings
name_planet = 'Saturn'
moons_planet = 146

print("Planet Saturn has 150 moons")
print(f"Planet {name_planet} has {moons_planet} Moons")

In [ ]:
# String concatination

str_1 = "Earth is the only planet with Life."
str_2 = "Maybe not ! :D"

print(str_1 + " " + str_2)
print (f'{str_1} {str_2}')

# User Inputs

In [ ]:
#Use input() to take user inputs
user_name = input("Enter your name: ")

In [ ]:
# Displaying the users name and its type
print(user_name)
print(type(user_name))

In [ ]:
# Ask user to input their name fav number

user_fave_number = input("Enter your fav number: ")

In [ ]:
# Displaying the users fav number and its type
print(user_fave_number)
print(type(user_fave_number))

# Data Type Conversion

In [14]:
# Commands to convert --> str(input), int(input), float(input)

# Convert a string data into integer and float
str_to_int = int(user_fave_number)
print(str_to_int)
print(type(str_to_int))

55
<class 'int'>